@font-face {
    font-family: 'Majestic X';
    src: url('fonts/majestic_x.eot');
    /* IE 9 Compatibility Mode */
    src: url('fonts/majestic_x.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('fonts/majestic_x.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/majestic_x.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('fonts/majestic_x.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/majestic_x.svg#majestic_x') format('svg');
    /* Chrome < 4, Legacy iOS */
}
body {
    background-color: rgb(124, 53, 53);
    font-size: 120%;
}
h1 { text-align: center;
    font-family: 'Majestic X', sans-serif;
    font-size: 240%;
}
.RightSize {
    float: right;
   padding: 0 20px 20px 0;
}
.forcenter {
    text-align: center;
}
.main{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right:10px;
    padding-top:10px;
    margin:12px
    }
    hr {
        height: 1px;
        border: none;
        }